<div class="input-group">
    <input class="form-control bg-light border-0 small" type="text" placeholder="Search for..." id="search-input" oninput="search()" autocomplete="off">
    <button class="btn btn-primary" type="button">
        <i class="fas fa-search fa-sm"></i>
    </button>
</div>
<div id="search-results" class="search-results"></div>